---
layout: page
title: Blog
permalink: /blog/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get the latest on what we're doing</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog-list">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <div class="blog-content">
              <ul id="blog-content-active">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

                {% for post in site.posts %}
                <li class="mix {{ post.type }} hvr-bob hvr-round-corners ">
                  {% if post.image %}
                  <img src="{{ post.image | relative_url }}" />
                  {% endif %}
                  <h2> {{ post.title }}</h2>
                  <p class="post-meta">{{ post.date | date: date_format }}</p>
                  <p>
                      {% if post.oneliner %}
                      {{ post.oneliner | strip_html}}
                      {% else %}
                      {{ post.content | strip_html | truncatewords: 25 }}
                      {% endif %}    
                  </p>
                  <a href="{{ post.url | relative_url }}">
                     <div class="overly">
                      <div class="position-center">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.oneliner }}</p>
                      </div>
                    </div>
                  </a>
              </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

