
<!-- Call to action Start -->
<section id="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>We design insightful digital solutions.</h2>
            <p>Explore more about <a href="/work" target="_blank" rel="noopener noreferrer" class = "hvr-float-shadow" >what we do</a> or read some of our <a href="/blog" target="_blank" rel="noopener noreferrer"  class = "hvr-float-shadow" >latest thoughts</a>.</p>
            <a class="btn btn-default btn-call-to-action hvr-float-shadow" href="mailto:{{ site.contact-email }}" >Let's talk</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  