---
layout: page
title: Work samples
permalink: /work/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>Some of the latest projects.</h1>
                    <p>Snapshots of the latest work.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-menu">
                <ul>
                    <li class="filter" data-filter="all">Everything</li>
                    <li class="filter" data-filter=".Tableau">Tableau</li>
                    <li class="filter" data-filter=".Alteryx">Alteryx</li>
                    <!--
                    <li class="filter" data-filter=".Graphic">Graphic</li>
                    <li class="filter" data-filter=".design">design</li>
                    <li class="filter" data-filter=".Video">Video</li>
                    -->
                </ul>
              </div>

              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                  {% for sample in site.data.samples %}
                  <li class="mix {{ sample.type }}">
                    {% if sample.post %}
                    <a href={{ sample.post }}>
                    {% else %}
                    <a href=" {{ site.baseurl }}/{{ sample.type | downcase}}/{{ sample.name }}.html">
                    {% endif %}
                      <img src="{{ site.baseurl }}{{ sample.img }}" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>{{ sample.title }}</h2>
                          <p>{{ sample.desc }} </p>

                        </div>
                      </div>
                    </a>
                </li>
                {% endfor %}
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div id="clients-logo" class="owl-carousel">
            {% for image in site.static_files %}
            {% if image.path contains 'client' %}
            <div class="clients-logo-img"><img src="{{ site.baseurl }} {{ image.path }}" alt="Logo {{ image.path }}"></div>
            {% endif %}
        {% endfor %}
        <!-- Loop to have longer carousel -->
        {% for image in site.static_files %}
        {% if image.path contains 'client' %}
        <div class="clients-logo-img"><img src="{{ site.baseurl }} {{ image.path }}" alt="Logo {{ image.path }}"></div>
        {% endif %}
    {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include call_to_action.html %}
